.main-page {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    border-radius: 3vw;
    box-shadow: 0 0 3vw lightgray;
    padding: 2%;
    height: 89vh;
}

.links-container {
    display: flex;
    justify-content: space-between;
}

.hasbik {
    scale: 30%;
    margin-top: -70vh;
    box-shadow: 0 0 3vw lightgray;
}