.settings-container {
    width: 95%;
}

.sorting-container, .theme-container{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.settings-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1vw;
}

.theme, .sorted-by {
    width: 55%;
    font-size: 0.8rem;
}

.theme > option, .sorted-by > option {
    font-size: 0.8rem;
}